body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #ffffff;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.span-header-logo {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-link {
  color: #2e2f42;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
}

.header-link:focus,
.header-link:hover {
  color: #404bbf;
}

.header-address {
  display: flex;
  align-items: center;
  font-style: normal;
}

.address-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.address-item {
  margin-right: 40px;
}

.address-link {
  color: #434455;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* title */
.title-sectoin {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

/* Button */
.title-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  text-align: center;
  cursor: pointer;
}

.title-btn:hover,
.title-btn:focus {
  border-radius: 4px;
  background-color: #404bbf;
}

/* achievements */
.achievements-list {
  display: flex;
}

.achievement-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.achievements-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: 156px;
}

.achievements-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02;
  padding-right: 24px;
  margin-left: 156px;
}

h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
}

.team-list {
  background-color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
}

.team-img {
  max-width: 100%;
  height: auto;
}

.team-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.team-text {
  color: #434455;
}

/* portfolio */
.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  text-align: center;
  height: 420px;
  margin-bottom: 32px;
  border: 1px solid #e7e9fc;
  background-color: #fff;
}

.portfolio-img {
  max-width: 100%;
  height: auto;
}

.portfolio-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-top: 16px;
  text-align: left;
}

.portfolio-text {
  color: #434455;
  text-align: left;
}

/* footer */
.footer {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 156px;
  margin-top: 100px;
}

.span-footer-logo {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 17.5px;
}
