body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.main {
  width: 0 auto;
  height: 0 auto;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #ffffff;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.span-header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03;
  text-transform: uppercase;
  text-decoration: none;
}

.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-link {
  color: #2e2f42;
  text-decoration: none;
  margin-right: 20px;
}

.header-link:hover,
.header-link:active {
  color: #404bbf;
}

.header-address {
  display: flex;
  align-items: center;
}

.address-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.address-item {
  margin-right: 40px;
}
.address-link {
  color: #434455;
  text-decoration: none;
}
.address-link:hover,
.address-link:active {
  color: #404bbf;
}
/* title */
.title-sectoin {
  background-color: #2e2f42;
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
/* Button */
.title-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 169px;
  height: 56px;
  text-align: center;
}
.title-btn:hover,
.title-btn:active {
  border-radius: 4px;
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* achievements */
.achievements-list {
  display: flex;
  gap: 8px;
  padding-left: 24px;
}

.achievement-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.achievements-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-left: 156px;
}
.achievements-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02;
  padding-right: 24px;
  margin-left: 156px;
}
h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-section {
  background: #f4f4fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 0;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
}
.team-item {
  text-align: center;
}
.team-img {
  max-width: 100%;
  height: auto;
}
.team-name {
  color: #2e2f42;
  font-weight: 700;
  margin-top: 32px;
}
.team-text {
  color: #434455;
}
.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #fff;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  text-align: center;
  height: 420px;
  margin-bottom: 32px;
  border: 1px solid #e7e9fc;
  background-color: #fff;
  box-sizing: border-box;
  align-items: center;
}
.portfolio-img {
  max-width: 100%;
  height: auto;
}

.portfolio-name {
  font-weight: 700;
  margin-top: 16px;
  text-align: left;
}

.portfolio-text {
  color: #434455;
  text-align: left;
}

/* footer */
.footer {
  background-color: #2e2f42;
  width: 100%;
  height: 312px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer-logo {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 156px;
  margin-top: 100px;
}
.span-footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 17.5px;
}
